*{
			margin:0px;
			padding: 0px;
		}
    
		body{
			 margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
		}
		
		audio:hover, audio:focus,audio:active{
			box-shadow:15px 15px 20px rgba(0,0,0,0.4);
			transform: scale(1.05);
			outline: none;
			border: none;

		}
		audio::-webkit-media-controls-play-button,
		audio::-webkit-media-controls-panel {
  		background-color: purple;
  		color: white;}

		.audio{
			transition:all 0.5s linear;
			box-shadow: 2px 2px 4px 0px #006773;


			outline: none;
			border: none;
		}


		.word{
			font-family: Granite;
		}
		.ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;

}
		#DJoz{
			background-image:url("dj22.jpg");
			background-size: cover;
			height: 900px;
			background-repeat: no-repeat;
		}
		   body {
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;}
      .flip-card {
  background-color: transparent;
  width: 380px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color:#8B008B;
  color: white;
  transform: rotateY(180deg);
}
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 6em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
.swiper-container1 {
      width: 450px;
      height: 450px;
      position: relative;
      margin-left:120px;
     
    }
 

  
    .chup{margin-top:-55px;
    	margin-left:100px;


    }
    .headphone{
    	height:620px;
    }
    .headphonediv{
    	margin-left: 10px;
    }
    .card1{
    	margin-left:-220px;
    }
    .center{
    	border: none; 
    	width: 500px;
    }
    #footerbg{
    	background-image: url("eminem.jpg");
    	height: 780px;
    	background-size: cover;
    }
    #clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}


#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #9A32CD;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #820BBB;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
.home{
  margin-left: 150px;

}
.navother{
  margin-left: 50px;
 

}
.navother:hover{
  border-bottom: 2px solid white;

}
.dj1, .dj2{
  font-size:45px;
}
.sw{
  height: 500px
}
.sw1{
  height: 350px;
  width:390px;
}
.flipimg{
  height: 300px;
  width:380px;
}
.fthb{
  margin-top:400px;
}
 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .chup {
      padding:0px;
      margin-left:0px;
      margin-top:20px;
    }
    .card1{
    	margin-left:0px;
    }
    .headphonediv{
    	margin-left:10px;
    }
    .headphone{
      height:auto;
      width: auto;
    }
    .gap{
    	height:10px;
    }
    .center{
    	border: none; 
    	width: 320px;
    }
    .swiper-container1 {
      width: 300px;
      height: 300px;
      position: relative;
      margin-left:10px;
     
    }
    .home{
      margin:0px;

    }
     .navother{
      margin:0px;
      
    }
    #DJoz{
      background-image:url("dj221.jpg");
      background-size: cover;
      width:380px;
      height:350px;
      background-repeat: no-repeat;
    }
    .dj1, .dj2{
  font-size:25px;
}
.sw{
  height: 400px
}
.sw1{
  height: 275px;
  width:325px;
}
.flip-card {
  background-color: transparent;
  width: 320px;
  height: 290px;
  perspective: 1000px;
  margin-left: 30px;
  margin-top: 20px;
}
.flipimg{

  height: 290px;
  width:320px;
}
.f1{
  margin-left: 55px;
  margin-top: 20px;
  width: 320px;
  height: 290px;
}
 #footerbg{
      background-image: url("eminem.jpg");
      height: 780px;
      width: 360px;
      background-size: cover;
    }
  .fthb{
  margin-top:150px;
}
  .ml15 {
    margin-left:10px; 
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;

}

}
@media only screen and (min-device-width : 760px) and (max-device-width : 1024px) {

.card1{
      margin-left:10px;
      margin-top: 10px;
    }
 #DJoz{
      background-image:url("dj221.jpg");
      background-size: cover;
      width:800px;
      height:750px;
      background-repeat: no-repeat;
    }
 .ml15 {
  margin-top: -100px;
    margin-left:10px; 
  font-weight: 150;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.ml9 {
  position: relative;
  font-weight: 100;
  font-size: 60px;
}

.ml9 .text-wrapper {
  margin-left: -25px;
  margin-top: -100px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
.center{
      border: none; 
      
    }
}
